#Logo_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
  width: 100%;
}
  #Pop_logo {
position: absolute;
width: 4rem;
right: 2rem;
top: 3.5rem;
transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
  }

  .Logo_title {
   
    margin: 1rem 0 1rem;
    letter-spacing: 2;
    font-family: "Prism";
    font-size: 6rem;
    color: #c3ebf7;
    text-shadow: 0 0 0.6rem #c3ebf7, 0 0 1.5rem #a8e1f3,
      -0.2rem 0.1rem 1rem #b6e5f3;
    animation: shine 2s forwards, flicker 3s infinite;
  }
  
  @keyframes blink {
    0%,
    22%,
    36%,
    75% {
      color: #c3ebf7;
      text-shadow: 0 0 0.6rem #c3ebf7, 0 0 1.5rem #a8e1f3,
      -0.2rem 0.1rem 1rem #b6e5f3;
    }
    28%,
    33% {
      color: #5a7279;
      text-shadow: none;
    }
    82%,
    97% {
      color: #5a7279;
      text-shadow: none;
    }
  }
  
  .flicker {
    animation: shine 2s forwards, blink 3s 2s infinite;
  }
  
  .fast-flicker {
    animation: shine 2s forwards, blink 10s 1s infinite;
  }
  
  @keyframes shine {
    0% {
      color: #78d4f0;
      text-shadow: none;
    }
    100% {
      color: #c3ebf7;
      text-shadow: 0 0 0.6rem #c3ebf7, 0 0 1.5rem #a8e1f3,
      -0.2rem 0.1rem 1rem #b6e5f3;
    }
  }
  
  @keyframes flicker {
    from {
      opacity: 1;
    }
  
    4% {
      opacity: 0.9;
    }
  
    6% {
      opacity: 0.85;
    }
  
    8% {
      opacity: 0.95;
    }
  
    10% {
      opacity: 0.9;
    }
  
    11% {
      opacity: 0.922;
    }
  
    12% {
      opacity: 0.9;
    }
  
    14% {
      opacity: 0.95;
    }
  
    16% {
      opacity: 0.98;
    }
  
    17% {
      opacity: 0.9;
    }
  
    19% {
      opacity: 0.93;
    }
  
    20% {
      opacity: 0.99;
    }
  
    24% {
      opacity: 1;
    }
  
    26% {
      opacity: 0.94;
    }
  
    28% {
      opacity: 0.98;
    }
  
    37% {
      opacity: 0.93;
    }
  
    38% {
      opacity: 0.5;
    }
  
    39% {
      opacity: 0.96;
    }
  
    42% {
      opacity: 1;
    }
  
    44% {
      opacity: 0.97;
    }
  
    46% {
      opacity: 0.94;
    }
  
    56% {
      opacity: 0.9;
    }
  
    58% {
      opacity: 0.9;
    }
  
    60% {
      opacity: 0.99;
    }
  
    68% {
      opacity: 1;
    }
  
    70% {
      opacity: 0.9;
    }
  
    72% {
      opacity: 0.95;
    }
  
    93% {
      opacity: 0.93;
    }
  
    95% {
      opacity: 0.95;
    }
  
    97% {
      opacity: 0.93;
    }
  
    to {
      opacity: 1;
    }
  }
  
  @keyframes float {
    0% {
      
      transform: translatey(0px);
    }
    50% {
    
      transform: translatey(-20px);
    }
    100% {
      
      transform: translatey(0px);
    }
  }