.App {
    width: 100vw;
    height: 100vh;
}


.Header {
    display: block;
    width: 100%;
}

.Menu {
    display: flex;
    height: 2rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 3rem;
}

.Movies {
    width: 90%;
    height: 65%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 3rem auto;
    padding: 1rem;
    overflow-y: scroll;
}

.Movies::-webkit-scrollbar {
    display: none;
}



#Random_movie_button {
    width: 11rem;
    background: none;
border: none;
outline: none;
font-size: 1.6rem;
font-family: "Disney";
color: #c3ebf7;
margin: 1rem;
}

#Random_movie_button:hover {
    background: none;
border: none;
outline: none;
font-size: 1.8rem;
font-family: "Disney";
color: #FFF4D1;
transition: .5s;
cursor: pointer;
}