.App {
    width: 100%;
}


.Header {
    display: block;
    width: 100%;
}

.Menu {
    display: flex;
    height: 2rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 3rem;
}

.Movies {
    width: 90%;
    height: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin: 3rem auto;
    padding: 1rem;
    overflow-y: scroll;
}