#Add_Movie_button {
    width: 11rem;
    background: none;
border: none;
outline: none;
font-size: 1.6rem;
font-family: "Disney";
color: #c3ebf7;
margin: 1rem;
}

#Add_Movie_button:hover {
    background: none;
border: none;
outline: none;
font-size: 1.8rem;
font-family: "Disney";
color: #FFF4D1;
transition: .5s;
cursor: pointer;
}

#ModalBackground {
    display: flex;
   justify-content: center;
   align-items: center;
   position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgb(37, 40, 45, 0.8);
z-index: 2;

}

#AddMovieModalContainer {
   display: flex;
   
   flex-direction: column;
    width: 20%;
    height: 20%;
    background: #FFF4D1;
    animation: 1s fadein;
    box-shadow: 1px 1px 5px 3px rgba(255, 244, 209, 0.3);
    border-radius: .3rem;
   margin: auto;
   padding: 1rem;

}


#addMovieForm {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#movieId {
    width: 10rem;
    height: 2rem;
    margin-left: 4rem;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #9ebfc9;
    outline: none;
    font-size: 1.6rem;
    font-family: "Disney";
    color: #FFF4D1;
    align-self: center;
    }
    
    
        #movieId:hover, #movieId:focus {
       
            
        border-bottom: 2px solid #D76976;
        transition: 0.5s;
            }
    
            #movieId:focus{
       
                color: #D76976;
                }
    
                #movieId::placeholder {
                    font-size: 1.3rem;
                    margin: .5rem;
                    font-family: "Disney";
                 
                }
    
                #movieId::-webkit-search-cancel-button{
                    visibility: hidden;
                }

#formTitle {
    font-family: "Disney";
    color: #9ebfc9;
    margin: -2rem 0 2rem 0;
    font-size: 2.5rem;
    align-self: center;
}

#submit {
    width: 5rem;
    background: none;
border: none;
outline: none;
font-size: 1.4rem;
font-family: "Disney";
color: #9ebfc9;
font-weight: bold;
margin-left: 1rem;
}

#submit:hover {
    
    color: #728b92;
    transition: .5s;
    cursor: pointer;
}

#closeModal {
    background: none;
border: none;
outline: none;
font-size: 1.6rem;
font-family: "Disney";
font-weight: bold;
color:#728b92;
cursor: pointer;
align-self: flex-end;
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

@media all and (max-width: 1640px) {
    #formTitle {
       font-size: 2rem;
        }

    #submit {
            font-size: 1.2rem;
             }

  }


@media all and (max-width: 620px) {
    #Add_Movie_button {
        font-size: 1.2rem;
        margin: 1rem .2rem;
    }
  }