#Add_Movie_button {
    width: 11rem;
    background: none;
border: none;
outline: none;
font-size: 1.6rem;
font-family: "Disney";
color: #c3ebf7;
margin: 1rem;
}

#Add_Movie_button:hover {
    background: none;
border: none;
outline: none;
font-size: 1.8rem;
font-family: "Disney";
color: #FFF4D1;
transition: .5s;
cursor: pointer;
}