.Search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 2rem;
    width: 60%;
}

#Search_input {
width: 23rem;
height: 2rem;
margin-right: 50rem;
background-color: transparent;
border: none;
border-bottom: 2px solid #c3ebf7;
outline: none;
font-size: 1.6rem;
font-family: "Disney";
color: #FFF4D1;
}


    #Search_input:hover, #Search_input:focus {
   
        
    border-bottom: 2px solid #FFF4D1;
    transition: 0.5s;
        }

        #Search_input:focus{
   
            color: #FFF4D1;
            }

            #Search_input::placeholder {
                font-size: 1.3rem;
                margin: .5rem;
                font-family: "Disney";
             
            }

            #Search_input::-webkit-search-cancel-button{
                visibility: hidden;
            }

            @media all and (max-width: 620px) {
                #Search_input {
                    width: 20rem;
                    height: 2rem;
                   
                    }
              }

              @media all and (max-width: 414px) {
                #Search_input {
                    margin-left: -1rem;
                   
                    }
              }

              @media all and (max-width: 375px) {
                #Search_input {
                    margin-left: -2rem;
                   
                    }
              }