* {
    box-sizing: border-box;
}

html, body, #root{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right bottom, #1a1c20, #1f2225, #18191d, #17181b, #111214);
   
    
}



@font-face {
    font-family: "Prism";
    src: url("./fonts/prism.ttf") format('truetype');
}

@font-face {
    font-family: "Disney";
    src: url("./fonts/disney.ttf") format('truetype');
}
    
           